includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/slam/phpstan-extensions/conf/symfony-rules.neon

rules:
    - TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    level: 5

    paths:
        - %currentWorkingDirectory%/contao
        - %currentWorkingDirectory%/src

    dynamicConstantNames:
        - BE_USER_LOGGED_IN

    featureToggles:
        alwaysTrueAlwaysReported: false
        detectDeadTypeInMultiCatch: false

    universalObjectCratesClasses:
        - Contao\BackendUser
        - Contao\ContentElement
        - Contao\Database\Result
        - Contao\Model
        - Contao\Module
        - Contao\Template
        - Contao\User

    treatPhpDocTypesAsCertain: false
    rememberPossiblyImpureFunctionValues: false
