.columnWizard {
    max-width: unset;
}
.columnWizard .tl_select {
    min-width: 100px;
}

.columnWizard tbody td:nth-child(-n+2){
    width: 48%;
    max-width: 48%;
    padding-right: 1%;
}

.columnWizard-divider + .tl_help {
    padding-bottom: 1rem;
    border-bottom: solid 1px #e6e6e8;
}

fieldset .widget:last-child .columnWizard-divider + .tl_help {
    border: 0 none;
    padding: 0;
}
